<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4">Billing Codes</h1>
  <div class="bg-white p-6 rounded-md shadow-md">
    <h2 class="text-lg font-semibold">ICD-10 Codes</h2>
    <ul class="list-disc pl-5">
      <% @codes[:icd10].each do |code| %>
        <li><%= code[:code] %>: <%= code[:description] %></li>
      <% end %>
    </ul>
    <h2 class="text-lg font-semibold mt-4">CPT Codes</h2>
    <ul class="list-disc pl-5">
      <% @codes[:cpt].each do |code| %>
        <li><%= code[:code] %>: <%= code[:description] %> (Cost: <%= code[:cost] %>)</li>
      <% end %>
    </ul>
    <h2 class="text-lg font-semibold mt-4">HCPCS Codes</h2>
    <ul class="list-disc pl-5">
      <% @codes[:hcpcs].each do |code| %>
        <li><%= code[:code] %>: <%= code[:description] %></li>
      <% end %>
    </ul>
    <%= link_to "Export as CSV", export_code_mapping_path(@code_mapping), class: "mt-4 inline-block bg-green-600 text-white px-4 py-2 rounded-md" %>
  </div>
</div>